<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="item header">
            <h1>hi</h1>
        </div>
        
        <div class="item item1">
                <div class="login-form">
                    <h1><b>LUCKY DRAW</b></h1>
                    <form action="#" method="post">
                    <label for="account">Select an Account:</label>
                    <select name="text" id="text">
                    <option value="1">player 1</option>
                    <option value="2">player 2</option>
                    <option value="3">player 3</option>
                    <option value="4">player 4</option>
                    <option value="5">player 5</option>
                    <option value="6">player 6</option>
                    </select>
                    <br>

                    <label for="cars">Payment of Players (ether):</label>
                    <select name="num" id="num">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    </select>
                    <br>

                    <button>Enter Game</button>
                    <button>Start Game</button>
                    <p>Winner</p>
                    <input type="text" name="user" placeholder="user name">
                    <button>Check who won</button>
                    </form>
                </div>
        </div>
        <div class="item">
            2
        </div>
        <div class="item">
            3
        </div>  
        <div class="item item4">
            4
        </div>
        </div>

        <div class="item footer">
            <p>hello</p>
        </div>


    </div>
    
</body>
</html>